<!-- Page Wrapper -->
<div class="js-navigation_push page_wrapper">
	<!-- Header -->
	<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
		<div class="header_ribbon">
			{% include directory ~ "/templates/partials/logo.twig" with {
				modifier: "header"
			} %}

			{{ page.main_navigation }}

			<div class="header_aside">
				{{ page.persistent_navigation }}

				<a class="mobile_sidebar_handle" href="#mobile_sidebar">
					<span class="js-nav_handle mobile_sidebar_handle_label">Menu</span>
					<span class="mobile_sidebar_handle_icon"></span>
				</a>

				{% include directory ~ "/templates/partials/search.twig" with {
					modifier: "lg",
					placeholder: "Search...",
					buttonText: "submit"
				} %}

				<a class="site_search_handle" href="#site_search_lg">
					<span class="site_search_handle_label">Search</span>
					<span class="site_search_handle_scope">
						<svg aria-hidden="true" class="symbol symbol_search symbol_red">
							<use xlink:href="#search"></use>
						</svg>
					</span>
					<span class="site_search_handle_close">
						<svg aria-hidden="true" class="symbol symbol_close symbol_black">
							<use xlink:href="#close"></use>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</header>
	<!-- END: Header -->

	<!-- Page -->
	<div class="page">
		<section class="site_message" aria-hidden="true">
			<div class="row">
				<div class="site_message_description">
					<p>It looks like you're trying to zoom in on this page. For best results: use the most recent version of your browser, disable your browser's 'zoom text only' setting, and use your browser's default font size settings.</p>
					<p>To zoom in, use [Ctrl] + [+] in Windows, and [Cmd] + [+] on a Mac. To zoom out, use the keyboard shortcut [Ctrl] + [-] in Windows and [Cmd] + [-] on a Mac.</p>
				</div>
			</div>
		</section>
		<div class="page_feature"></div>

		<!-- Page Content -->
		<div class="page_content_expanded">
			<div class="row">
				<div class="content_cell">
					<main class="main_content" id="main_content" itemprop="mainContentOfPage">
						<div class="page_header">
							<div class="typography">
								<h1 class="page_title_alternate">Search</h1>
							</div>

							<div class="breadcrumb_nav_wrapper">
								<div class="breadcrumb_nav">
									<div class="breadcrumb_list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
										<div class="breadcrumb_item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
											<a class="breadcrumb_link" href="{{ www_root }}" itemprop="item">
												<svg aria-hidden="true" class="symbol symbol_home symbol_dark">
													<use xlink:href="#home"></use>
												</svg>
												<span class="breadcrumb_name" itemprop="name">Home</span>
											</a>
											<meta itemprop="position" content="1">
										</div>
										<div class="breadcrumb_item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
											<span class="breadcrumb_label" itemprop="item">
												<span class="breadcrumb_name" itemprop="name">Search</span>
											</span>
											<meta itemprop="position" content="2">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="in_content_callouts">
							<div class="site_search_results">
								<script>
								  (function() {
								    var cx = '018359456959023193468:dwty57two9q';
								    var gcse = document.createElement('script');
								    gcse.type = 'text/javascript';
								    gcse.async = true;
								    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
								    var s = document.getElementsByTagName('script')[0];
								    s.parentNode.insertBefore(gcse, s);
								  })();
								</script>
								<gcse:search></gcse:search>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>

	<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
		<div class="row">
			<div class="footer_column">
				<div class="footer_row">
					<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
						<div class="footer_address_details">
							<h2 class="footer_address_label">Location</h2>
							<span class="footer_address_name" itemprop="name">BWI</span>
							<span class="footer_address_street" itemprop="streetAddress">7050 Friendship Rd, </span>
							<span class="footer_address_city" itemprop="addressLocality">Baltimore, </span>
							<span class="footer_address_state" itemprop="addressRegion">MD </span>
							<span class="footer_address_zip" itemprop="postalCode">21240</span>
						</div>
						<a class="footer_address_link" href="{{ directions_link }}" target="_blank">
							<span>Get Directions</span>
							<svg aria-hidden="true" class="symbol symbol_arrow_right symbol_red">
								<use xlink:href="#arrow_right"></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="footer_pair">
					<div class="footer_row">
						{{ page.helpful_links }}
					</div>
					<div class="footer_row">
						{{ page.social_links }}
					</div>
				</div>
				<div id="google_translate_element"></div>
				<script type="text/javascript">
				function googleTranslateElementInit() {
				  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
				}
				</script>
				<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			</div>
			<div class="footer_aside">
				{% include directory ~ "/templates/partials/logo.twig" with {
					modifier: "footer"
				} %}

				<div class="directory">
					<div class="directory_item">
						<img src="{{ governor_image }}" class="directory_item_image" alt="">
						<div class="directory_item_details">
							<h5 class="directory_item_name">{{ governor_name }}</h5>
							<h6 class="directory_item_title">Governor</h6>
						</div>
					</div>

					<div class="directory_item">
						<img src="{{ lt_governor_image }}" class="directory_item_image" alt="">
						<div class="directory_item_details">
							<h5 class="directory_item_name">{{ lt_governor_name }}</h5>
							<h6 class="directory_item_title">Lt. Governor</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- END: page_wrapper -->

<div class="js-navigation mobile_sidebar" id="mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"type": "overlay", "gravity": "right"}'>
	<div class="mobile_sidebar_group">
		{% include directory ~ "/templates/partials/search.twig" with {
			modifier: "sm",
			placeholder: "Search...",
			buttonText: "submit"
		} %}

		{% include directory ~ "/templates/partials/hud-nav.twig" %}

		{{ page.mobile_sidebar }}
	</div>

	{{ page.mobile_sidebar_bottom }}
</div>
